/* Global Style */
/* Letter-spacing property used to create space between letters - increase readability and accessibility */

body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #76798c;
    letter-spacing: 0.1em;
    
}

/* Header Style */

header {
    color: #f2f2f2;
    background-color: #76798c;
    text-align: center;

}

h1 {
    margin: 50;
}

.heading-container {
    background-color: #cecccc;
    margin: 10px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    flex-direction: row; 
}

.heading-container h2 {
    text-align: center;
    margin: -20;
    padding: 20px;
}

/* Set the box-sizing property to the .containers class to border-box so that padding and borders are included in container's W&H */
/* Parent Container */

.containers {
    display: flex;
    flex-direction: column;
}

/* Display & Grid-template-columns function allow the buttons to be distributed evenly along the page allowing for dynamic and responsive design */
/* Child Container (1) */

.container-1 {
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: #f2f2f2;
    flex-direction: row;

}

/* 'Day Button' CSS - Need to fix this */

.button {

    background-color: #f2f2f2;
    border: none;
    color: #3d477a;
    text-decoration: underline;
    font-size: 16px;
    margin: 20 85px; 
    padding: 10px 25px;
    cursor: pointer;
}

/* Hover State of 'Day Button' CSS */

.button:hover {
    background-color: #cecccc;
}

/* On Click Permanent Hover State */
/* This function is not currently working - would have loved this to work to improve accessibility - for future developments I would have spent more time trying to fix this */

.Button.clicked {
    background-color: #cecccc;
}

/* Margin-top is set to a negative value on second container to = padding used on first container (make it overlap) */
/* Margin-left and margin-right is set to 10px to even out with container 1 */
/* Border-bottom-left/right-radius is set to make the top of the container straight and the bottom of the container rounded */
/* Child Container (2) */

.container-2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px ;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #cecccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 2px solid #cecccc; 

}

/* Below is the CSS for the checklist writing (split into 5 as some days have more letters than others) */
/* Flex is Used to make the checklists responsive when the screen size is minimized */
/* CSS classes are seperated as properties are different per list */

.classList {
    list-style: none;
    list-style-type: none;
    margin-right: 50px;
    margin-left: 50px;
    flex: 1 1 200px;
    padding: 12;
}

.classList2 {
    list-style: none;
    list-style-type: none;
    margin-right: 50px;
    margin-left: 50px;
    flex: 1 1 200px;
    padding: 12;
}

.classList3 {
    list-style: none;
    list-style-type: none;
    margin-right: 50px;
    margin-left: 60px;
    flex: 1 1 200px;
    padding: 12;
}

.classList4 {
    list-style: none;
    list-style-type: none;
    margin-right: 50px;
    margin-left: 60px;
    flex: 1 1 200px;
    padding: 12;
}

.classList5 {
    list-style: none;
    list-style-type: none;
    margin-right: 50px;
    margin-left: 50px;
    flex: 1 1 200px;
    padding: 12;
}

/* Below is CSS for every individual checklist, this was necessary so that they were lined up evenly and in the order I wanted */
/* Each checkbox is placed in container to make them inline with the text next to them */
/* CSS classes are seperated as properties are different per checkbox */

.boxImage1-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage1 {
    transform: scale(1.5);
}

.boxImage2-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage2 {
    transform: scale(1.5);
}

.boxImage3-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage3 {
    transform: scale(1.5);
}

.boxImage4-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage4 {
    transform: scale(1.5);
}

.boxImage5-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage5 {
    transform: scale(1.5);
}

.boxImage6-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage6 {
    transform: scale(1.5);
}

.boxImage7-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage7 {
    transform: scale(1.5);
}

.boxImage8-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage8 {
    transform: scale(1.5);
}

.boxImage9-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage9 {
    transform: scale(1.5);
}

.boxImage10-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage10 {
    transform: scale(1.5);
}

.boxImage11-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage11 {
    transform: scale(1.5);
}

.boxImage12-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage12 {
    transform: scale(1.5);
}

.boxImage13-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage13 {
    transform: scale(1.5);
}

.boxImage14-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage14 {
    transform: scale(1.5);
}

.boxImage15-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage15 {
    transform: scale(1.5);
}

.boxImage16-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage16 {
    transform: scale(1.5);
}

.boxImage17-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage17 {
    transform: scale(1.5);
}

.boxImage18-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage18 {
    transform: scale(1.5);
}

.boxImage19-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage19 {
    transform: scale(1.5);
}

.boxImage20-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage20 {
    transform: scale(1.5);
}

.boxImage21-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage21 {
    transform: scale(1.5);
}

.boxImage22-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage22 {
    transform: scale(1.5);
}

.boxImage23-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage23 {
    transform: scale(1.5);
}

.boxImage24-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage24 {
    transform: scale(1.5);
}

.boxImage25-Container {
    display: inline-flex;
    align-items: center;
}

#boxImage25 {
    transform: scale(1.5);
}

/* 'Hide Button' CSS - Need to fix this */

.closeButton {
    background-color: transparent;
    border: none;
    color: #3d477a;
    text-decoration: underline;
    font-size: 14px;
    margin: 20px;
    cursor: pointer;
}

.closeButton2 {
    background-color: transparent;
    border: none;
    color: #3d477a;
    text-decoration: underline;
    font-size: 14px;
    margin: 20px; 
    cursor: pointer;
}

.closeButton3 {
    background-color: transparent;
    border: none;
    color: #3d477a;
    text-decoration: underline;
    font-size: 14px;
    margin: 20px; 
    cursor: pointer;
}

.closeButton4 {
    background-color: transparent;
    border: none;
    color: #3d477a;
    text-decoration: underline;
    font-size: 14px;
    margin: 20px; 
    cursor: pointer;
}

.closeButton5 {
    background-color: transparent;
    border: none;
    color: #3d477a;
    text-decoration: underline;
    font-size: 14px;
    margin: 20px; 
    cursor: pointer;
}

/* Below is the CSS code allowing the hide buttons to be centered */

/* Container for the Submit Button (3) */
/* Child Container (3) */

.container-3 {
    display: none;
    position: relative;
    padding: 20px;
    background-color: #f2f2f2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 2px solid #cecccc; 
    width: 100%;
    width: 200px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.submitButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    color: #3d477a;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
}

.popup {
    overflow: auto;
}

#popupContainer, #popupContainer2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#popupContent, #popupContent2 {
    display: grid;
    place-items: center;
    height: 50vh;
    background-color: #fff;
    width: 700px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#closePopup {
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;
    background-color: transparent;
    border: none;
    color: #3d477a;
    font-size: 16px;
    cursor: pointer;
}

#closePopup:hover {
    background-color: #cecccc;   
}

#openPopup2 {
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;
    background-color: transparent;
    border: none;
    color: #3d477a;
    font-size: 16px;
    cursor: pointer;
}

#openPopup2:hover {
    background-color: #cecccc;   
}

#refreshButton {
    margin-bottom: 30px;
    background-color: transparent;
    border: none;
    color: #3d477a;
    font-size: 16px;
    cursor: pointer;
}

#refreshButton:hover {
    background-color: #cecccc;   
}

#showBookingsButton {
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;
    background-color: transparent;
    border: none;
    color: #3d477a;
    font-size: 16px;
    cursor: pointer;
}

#showBookingsButton:hover {
    background-color: #cecccc;   
}

#popupContainer, #popupContainer3 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#popupContent, #popupContent3 {
    display: grid;
    place-items: center;
    height: 50vh;
    background-color: #fff;
    width: 700px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#closePopup3 {
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;
    background-color: transparent;
    border: none;
    color: #3d477a;
    font-size: 16px;
    cursor: pointer;
}

#closePopup3:hover {
    background-color: #cecccc;   
}

.resetLSButton {
    margin-bottom: 30px;
    background-color: transparent;
    border: none;
    color: #3d477a;
    font-size: 16px;
    cursor: pointer;
}

.resetLSButton:hover {
    background-color: #cecccc;  
}

.logo {
    width: 100px;
    height: auto;
}

/* Media Queries */
/* Below is the CSS that allows the website to be both dynamic and responsive */
@media (min-device-width: 600px) {

}

@media (max-device-width: 800px) {
}

@media screen and (max-width: 600px) {
    .container-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .container-2 {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .container-1 {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .container-3 {
        padding: 20px;
    }

    .submitButton {
        padding: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .submitButton {
        padding: 20px;
    }
}
