/* Global Style */
/* Letter-spacing property used to create space between letters - increase readability and accessibility */

body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #76798c;
    letter-spacing: 0.1em;
    
}

/* Header Style */

header {
    color: #f2f2f2;
    background-color: #76798c;
    text-align: center;

}

h1 {
    margin: 30;
}

h2 {
    text-align: center;
}

/* Set the box-sizing property to the .container class to border-box so that padding and borders are included in container's W&H */

.container {
    box-sizing: border-box;
}

/* Display & Grid-template-columns function allow the buttons to be distributed evenly along the page allowing for dynamic and responsive design */

.container-1 {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    max-width: 800ox; 
    margin: 10px ; 
    padding: 5px;
    background-color: #f2f2f2;
    border-radius: 10px;

}

/* Margin-top is set to a negative value on second container to = padding used on first container (make it overlap) */
/* Margin-left and margin-right is set to 10px to even out with container 1 */
/* Border-bottom-left/right-radius is set to make the top of the container straight and the bottom of the container rounded */

.container-2 {
    margin-top: -20px ;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    background-color: #cecccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 2px solid #cecccc; 

}

h2 {
    margin: 30;
}

/* 'Day Button' CSS - Need to fix this */

.button {

    background-color: #f2f2f2;
    border: none;
    color: #3d477a;
    text-align: center;
    text-decoration: underline;
    display: inline-block; 
    font-size: 16px;
    margin: 20px; 
    cursor: pointer;
}

/* Hover State of 'Day Button' CSS */

.button:hover {
    background-color: #cecccc;
}

/* 'Hide Button' CSS - Need to fix this */

.closeButton {
    background-color: #f2f2f2;
    border: none;
    color: #3d477a;
    /* padding: 12px 24px; */
    text-align: center;
    text-decoration: underline;
    /* display: inline-block; */
    font-size: 16px;
    margin: 20px; 
    cursor: pointer;
}

.classList {
    list-style: none;
}

/* Media Queries */
@media (min-device-width: 600px) {

}

@media (max-device-width: 800px) {
}